@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROJECT ASP .NET M2 G.I.L</h1>
    <h2>Academy Management </h2>
    </div>

<div class="row">
    <div>
        @Html.ActionLink("List of Academies", "Index", "Academies")<br />
        @Html.ActionLink("List of Users", "Index", "Users")<br />
        @Html.ActionLink("List of Tutors", "Index", "Tutors")<br />
        @Html.ActionLink("List of Classrooms", "Index", "Classrooms")<br />
        @Html.ActionLink("List of Establishments", "Index", "Establishments")<br />
        @Html.ActionLink("List of Pupils", "Index", "Pupils")
    </div>
 
</div>